.errorNotFound {
  min-block-size: 100svh;
  padding: 10rem 10vw;
  
  .error-type {
    font-size: 1.75em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #d3d3d3;
    margin-block-end: 1.25rem;
  }
  
  .error-title {
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .error-text {
    line-height: 1.6;
    max-inline-size: 35ch;
    color: #e4e4e4;
    margin-block: 2.25rem;
  }
  
  .error-list_item {
    list-style: none;
    position: relative;
    padding-block: .5rem;
    padding-inline: 1.25rem;
    
    a {
      text-decoration: underline;
      color: var(--_accent-color);
      padding-inline: .3rem;
    }
    
    &::before {
      content: "";
      position: absolute;
      left: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
      block-size: .5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #d3d3d3;
    }
  }
}