.home {
  --_accent-color: hsl(163 47% 63% / 1);
  min-block-size: 100svh;
  position: relative;
  
  .landing-slider {
    
    .landing-slider-card {
      inline-size: calc(100vw - 20rem);
      block-size: 100svh;
      background-color: hsl(0 0% 0% / .85);
      background-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      
      .landing-movie {
        position: absolute;
        top: 65%;
        left: 3rem;
        transform: translateY(-50%);
        inline-size: fit-content;
        display: grid;
        gap: 1rem;
        
        .movie-title {
          font-size: 3em;
          font-weight: 250;
          text-align: center;
        }
        
        .movie-details {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5rem;
          
          font-size: .8em;
          
          .movie-res {
            padding: .15rem .5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 900;
            background-color: yellow;
            color: #000;
          }
        }
      }
    }
  }
  
  .landing-textarea {
    padding: 5rem 10vw;
    max-inline-size: 50vw;
    
    .landing-textarea__title {
      font-size: 1.5em;
      font-weight: 800;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-block: 1rem;
    }
    
    .landing-textarea__sub-title {
      font-size: 1.2em;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-block: 1rem;
    }
    
    .landing-textarea__text {
      line-height: 1.6;
      padding-block: .5rem;
    }
  }
  
  .landing-explore {
    padding: 5rem 10vw;
    
    
    .landing-explore__title {
      font-size: 1.5em;
      font-weight: 800;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-block: 1rem;
    }
    
    .landing-explore__text {
      line-height: 1.6;
      padding-block: .5rem;
      max-inline-size: 65vw;
    }
    
    .landing-link {
      display: inline-block;
      padding: 1.25rem 2rem;
      margin-block: 1rem;
      border: 1px solid var(--_accent-color);
      text-transform: capitalize;
      word-spacing: 4px;
      font-weight: 400;
    }
  }
  
  .landing-movies-page {
    padding: 5rem 10vw;
    
    
    h2 {
      font-size: 1.5em;
      font-weight: 800;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-block: 1rem;
    }
    
    p {
      line-height: 1.6;
      padding-block: .5rem;
      max-inline-size: 65vw;
    }
    
    .landing-link {
      display: inline-block;
      padding: 1.25rem 2rem;
      margin-block: 1rem;
      border: 1px solid var(--_accent-color);
      text-transform: capitalize;
      word-spacing: 4px;
      font-weight: 400;
    }
  }
}