.movies-layout {
  padding-block: 3rem;
  padding-inline-end: 10vw;
  
  .flex {
    display: flex;
    align-items: stretch;
    
    .sidebar {
      block-size: 100vh;
      max-inline-size: 10vw;
      z-index: 10;
      font-size: .76em;
      overflow-y: scroll;
      overflow-x: hidden;
      
      .sidebar-toggle {
        position: absolute;
        right: -3rem;
        top: 1rem;
      }
      
      .sidebar__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        inline-size: max-content;
        
        .sidebar__item {
          position: relative;
          inline-size: 100%;
          
          a {
            display: block;
            padding-block: 1rem;
            padding-inline-start: 1.5rem;
            padding-inline-end: 4rem;
            text-transform: capitalize;
          }
        }
      }
    }
    
    .main {
      flex: 1;
      min-block-size: 100%;
    }
  }
}