.home {
  --_accent-color: hsl(163 47% 63% / 1);
  block-size: 100svh;
  position: relative;
  
  .landing-slider {
    
    .landing-slider__card {
      inline-size: calc(100vw - 20rem);
      block-size: 100svh;
      background-color: hsl(0 0% 0% / .85);
      background-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      
      .landing_movie {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        inline-size: fit-content;
        display: grid;
        gap: 5rem;
        
        .movie__title {
          font-size: 3em;
          font-weight: 250;
          text-align: center;
        }
        
        .movie__details {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5rem;
          
          .movie__res {
            padding: .15rem .5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 900;
            background-color: yellow;
            color: #000;
          }
        }
      }
    }
  }
}