.genre {
    min-block-size: 100svh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 10rem 10vw 5rem;
    
    .genre__card {
        outline: 1px solid red;
        padding: 2rem;
        text-align: center;
    }
}